<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacko1972.stockhawk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.jacko1972.stockhawk.ui.MyStocksActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MyDetailActivity"
            android:label="Stock Details"
            android:parentActivityName=".ui.MyStocksActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MyStocksActivity"/>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.MyStocksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MyStocksActivity"/>

        </activity>

        <service
            android:name=".sync.StockHawkAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service
            android:name=".sync.StockHawkSyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>

        <provider
            android:name=".data.generated.StockProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true"/>

        <service
            android:name=".widget.DetailWidgetRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
        <receiver
            android:name=".widget.StockHawkWidgetProvider"
            android:label="@string/detail_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.jacko1972.stockhawk.app.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stock_hawk_widget_info"/>
        </receiver>

    </application>

</manifest>
